.anvil * {
    /* keep it sharp */
    border-radius : 0 !important;
}
.anvil code {
    /* don't chop <code> sequences into pieces */
    white-space : nowrap;
}
.anvil label {
    /* don't really like bootstrap bold labels */
    font-weight: normal;
}
.anvil .auth-not-selected {
    opacity : 0.5;
}
.anvil .top-right {
    position: fixed;
    margin-top: 0;
    margin-right: 0;
    top: 0;
    right: 0;
    z-index: 1;
}
.anvil .overlayable {
    position : relative;
}
.anvil .overlay {
    position         : absolute;
    text-align       : center;
    background-color : rgba(95, 94, 165, 0.20);
    top              : 0;
    left             : 0;
    right            : 0;
    bottom           : 0;
    color            : rgba(95, 94, 165, 0.80);
    font-size        : 10em;
}
.anvil .board-top {
    border-top : 4px lightgray double;
}
.anvil .board-editor {
    /* flush with button */
    margin-top : -3px;
    border     : 1px solid #5cb85c;
    /*background-color : #f2fff0;*/
}
.anvil .board-editor td .fa:hover {
    text-decoration : none;
    cursor          : pointer;
}
.anvil .board-editor .editor-table {
    max-height : 400px;
    overflow-y : scroll;
    font-size  : 0.9em;
}
.anvil .board-editor .editor-table a:hover {
    cursor: pointer;
}
.anvil .board-editor .editor-table th {
    background : lightgray;
}
.anvil .fa-plus-square-o {
    color: green;
}
.anvil .fa-minus-square-o {
    color: red;
}
.anvil .extra-space {
    /* Extra space so user does not have to work at the bottom of the screen. */
    height: 60vh;
}
