<div ng-controller="WallsCtrl as wallsCtrl">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>view</th>
      <th>name</th>
      <th>boards</th>
      <th>created</th>
      <th>modified</th>
      <th>demolish</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="5">
        <button type="button" class="btn btn-success"
                ng-disabled="wallsCtrl.editingNewWall"
                ng-click="wallsCtrl.startNewWall()">add new wall
        </button>
      </td>
    </tr>
    <tr ng-show="wallsCtrl.listLoading">
      <td colspan="5"><i class="fa fa-spinner fa-spin"></i> loading</td>
    </tr>
    <tr class="bg-success" ng-show="wallsCtrl.editingNewWall">
      <td>
        <input type="text" class="form-control" ng-model="wallsCtrl.newWall.name"/>
      </td>
      <td>{{ wallsCtrl.newWall.boards.length }}</td>
      <td>{{ wallsCtrl.newWall.created }}</td>
      <td>{{ wallsCtrl.newWall.modified }}</td>
      <td>
        <button type="button" class="btn btn-success"
                ng-disabled="wallsCtrl.savingNewWall"
                ng-click="wallsCtrl.saveNewWall()">Create New Wall
        </button>
      </td>
    </tr>
    <tr ng-repeat="wall in wallsCtrl.list">
      <td><a type="button" class="btn btn-info" ui-sref="wall({name: wall.name})">View</a></td>
      <td>{{ wall.name }}</td>
      <td>{{ wall.boards.length }}</td>
      <td>{{ wall.created }}</td>
      <td>{{ wall.modified }}</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm pull-right"
                ng-click="wallsCtrl.destroyWall(wall)">Demolish
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
