<div ng-controller="WallCtrl as wallCtrl">

  <a ui-sref="walls">back the list of walls (the wall wall)</a>

  <div ng-repeat="board in wallCtrl.viewedWall.boards" ng-controller="BoardCtrl as boardCtrl">

    <div class="row">
      <div id="chart-ctn" style="width:100%; height:400px;"></div>
    </div>

    <div class="form form-inline">
      <div class="row">
    <span class="col-xs-3 text-right">
      window of <strong>{{ boardCtrl.windowOpts[boardCtrl.selectedWindowIdx].humanize() }}</strong>
    </span>
    <span class="col-xs-9">
      <input type="range" min="0" max="{{ boardCtrl.windowOpts.length - 1 }}"
             ng-model="boardCtrl.selectedWindowIdx" ng-change="boardCtrl.windowUpdated()"/>
    </span>
      </div>
      <div class="row">
    <span class="col-xs-3 text-right" style="border-bottom: 1px lightgray solid;">
      / periods of <strong>{{ boardCtrl.periodOpts[boardCtrl.selectedPeriodIdx].humanize() }}</strong>
    </span>
    <span class="col-xs-9">
      <input type="range" min="0" max="{{ boardCtrl.periodOpts.length - 1 }}"
             ng-model="boardCtrl.selectedPeriodIdx" ng-change="boardCtrl.periodUpdated()"/>
    </span>
      </div>
      <div class="row">
    <span class="col-xs-3 text-right">
      = up to <strong>{{ boardCtrl.windowOpts[boardCtrl.selectedWindowIdx] /
      boardCtrl.periodOpts[boardCtrl.selectedPeriodIdx] }}</strong> data points
    </span>
        <aside class="col-xs-9">
          ⇐ The sliders maintain a reasonable number of data points with respect to one another, in the range of
          <code>[ {{ boardCtrl.minDataPoints }}, {{ boardCtrl.maxDataPoints }} ]</code>
        </aside>
      </div>
    </div>

  </div>

</div>