<div id="wallCtrl" ng-controller="WallCtrl as wallCtrl">

  <h2 class="top-right">
    <span class="label label-warning" ng-show="wallCtrl.dirty"><i class="fa fa-spinner fa-spin"></i> Saving... &nbsp;</span>
  </h2>

  <div class="row">

    <div class="panel panel-primary" style="margin-bottom: 0;">
      <div class="panel-heading">
        <div class="panel-title">
          <h2 ng-hide="wallCtrl.editingName" ng-click="wallCtrl.startRenameWall()">
            <span data-toggle="tooltip" data-placement="right" title="Click to edit the Wall's name">
              {{ wallCtrl.viewedWall.name }}
            </span>
          </h2>

          <form class="form-inline" ng-show="wallCtrl.editingName"
                ng-submit="wallCtrl.finishRenameWall()">
            <h2>
              <input id="edit-wall-name" type="text" class="form-control" tabindex="-1"
                     ng-model="wallCtrl.viewedWall.name"
                     ng-blur="wallCtrl.finishRenameWall()"/>
            </h2>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="boardCtrl-{{ $index }}" ng-repeat="board in wallCtrl.viewedWall.boards" ng-include="'board.html'"></div>

  <div class="row board-top">
    <div class="btn-block">
      <button type="button" class="btn btn-success btn-large col-xs-offset-1 col-xs-10"
              ng-click="wallCtrl.addBoard()">
        <i class="fa fa-plus"></i>
        Add Another Board
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

</div>